body {
    margin:0;
}
/* font-size */
/* BOOTSTRAP fs-1, fs-2, fs-3, fs-4, fs-5, fs-6 */
.fsp8 {
    font-size: 0.8rem;
}
.fsp9 {
    font-size: 0.9rem;
}

.fs1 {
    font-size: 1rem;
}

.fs1p1 {
    font-size: 1.1rem;
}

.fs1p2 {
    font-size: 1.2rem;
}

.fs1p3 {
    font-size: 1.3rem;
}

.fs1p4 {
    font-size: 1.4rem;
}

.fs1p5 {
    font-size: 1.5rem;
}

.fs1p6 {
    font-size: 1.6rem;
}

.fs1p7 {
    font-size: 1.7rem;
}

.fs1p8 {
    font-size: 1.8rem;
}

.fs1p9 {
    font-size: 1.9rem;
}

.fs2 {
    font-size: 2rem;
}

.fs2p1 {
    font-size: 2.5rem;
}

.fs3 {
    font-size: 3rem;
}

/* font-weight */
/* BOOTSTRAP fw-bold, fw-bolder, fw-semibold, fw-medium, fw-normal, fw-light, fw-lighter, fst-italic, fst-normal */
.bolder {
    font-weight:bolder;
}

.bold {
    font-weight: bold;
}

.fw7 {
    font-weight: 700;
}

/* line-height */
/* BOOTSTRAP lh-1,lh-sm,lh-base,lh-lg */
.lh-2 {
    line-height: 1.2;
}