 .u-section-1 {
  min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 67px auto 5px;
}

.u-section-1 .u-image-1 {
  min-height: 643px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/5b14348b650d32a0c7c395fd73b0812fc668d3538ba8f9779a49fb78c3260e5178ee87d14bc92752f4d36605f68c93053eb1f4644fa0e95aab2ef5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 178px 38px 0 -37px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 634px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 574px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 56px;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-1 .u-text-2 {
    line-height: 2.2;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-image-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 753px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-image-1 {
    min-height: 609px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 530px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 348px;
    margin-bottom: -215px;
  }

  .u-section-1 .u-image-1 {
    min-height: 383px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}