 .u-section-1 {
  min-height: 719px;
}

.u-section-1 .u-image-1 {
  height: 719px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.65);
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: -399px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-1 {
    margin-top: -362px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    object-position: 14.48% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 542px;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -420px;
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 414px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -266px;
    margin-right: calc(((100% - 340px) / 2) + 11px);
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 287px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 5px 0 30px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 291px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1279px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 141px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-group-1 {
  min-height: 111px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 14px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -74px auto 0 8px;
  padding: 13px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 337px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-group-2 {
  min-height: 258px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-size: 1.375rem;
  margin: 10px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 337px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-4 .u-group-3 {
  min-height: 258px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0 21px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 1.375rem;
  margin: 10px 67px 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 10px 30px 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 12px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 464px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-4 .u-group-4 {
  min-height: 434px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-group-5 {
  min-height: 153px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 657px;
  margin: 29px 42px 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 16px 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 5px 30px 0;
}

.u-section-4 .u-group-6 {
  min-height: 157px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 656px;
  margin: 42px 42px 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.u-section-4 .u-text-8 {
  text-transform: none;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 5px 0 0;
}

.u-section-4 .u-group-7 {
  min-height: 368px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 325px;
  margin: -352px auto 0 30px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 30px 28px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-10 {
  text-transform: none;
  font-size: 1.375rem;
  width: 197px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 29px 82px;
}

.u-section-4 .u-group-8 {
  min-height: 214px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 1080px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-12 {
  margin: 10px auto 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -66px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-4 .u-group-2 {
    min-height: 320px;
    height: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-4 .u-group-4 {
    min-height: 497px;
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-5 {
    width: 449px;
    min-height: 163px;
    margin-top: 51px;
    margin-right: 30px;
    height: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-group-6 {
    width: 449px;
    min-height: 212px;
    margin-right: 29px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-bottom: 23px;
  }

  .u-section-4 .u-group-7 {
    width: 340px;
    min-height: 437px;
    margin-top: -425px;
    height: auto;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 268px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-8 {
    min-height: 247px;
    width: 882px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1494px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-4 .u-group-1 {
    min-height: 112px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 133px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-group-2 {
    min-height: 341px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-group-3 {
    min-height: 341px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 0 0 30px 1px;
  }

  .u-section-4 .u-group-4 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-8 {
    padding: 30px 30px 0;
  }

  .u-section-4 .u-group-5 {
    min-height: 154px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-group-6 {
    min-height: 139px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 10px;
  }

  .u-section-4 .u-group-7 {
    min-height: 235px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-bottom: 30px;
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-4 .u-group-8 {
    min-height: 253px;
    width: 662px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2051px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 31px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-1 {
    min-height: 95px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-right: -12px;
    margin-left: 73px;
  }

  .u-section-4 .u-icon-1 {
    width: 45px;
    height: 45px;
    margin-top: -44px;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-4 .u-group-2 {
    min-height: 250px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 310px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-3 {
    min-height: 251px;
  }

  .u-section-4 .u-icon-3 {
    padding: 12px;
  }

  .u-section-4 .u-text-4 {
    margin-left: -128px;
    margin-right: -128px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 35px;
    margin-bottom: 31px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 930px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-4 {
    min-height: 897px;
    margin-bottom: -19px;
  }

  .u-section-4 .u-container-layout-8 {
    padding: 1px 0;
  }

  .u-section-4 .u-group-5 {
    min-height: 231px;
    width: 380px;
    margin-top: 634px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-6 {
    min-height: 228px;
    width: 410px;
    margin-top: -485px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 28px;
    margin-left: 10px;
  }

  .u-section-4 .u-group-7 {
    min-height: 325px;
    width: 410px;
    margin-top: -581px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 11px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 1px 10px;
  }

  .u-section-4 .u-group-8 {
    min-height: 278px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -1px;
  }

  .u-section-4 .u-text-13 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2370px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 140px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 25px 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 18px;
    margin-right: 30px;
    margin-left: 76px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -50px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 318px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: 30px;
    min-height: 288px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 390px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 28px 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 2px;
    min-height: 333px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 11px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 1054px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-4 {
    margin-bottom: 0;
    min-height: 1012px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-group-5 {
    min-height: 252px;
    width: 320px;
    margin-top: 412px;
  }

  .u-section-4 .u-group-6 {
    min-height: 282px;
    width: 320px;
    margin-top: 31px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-7 {
    min-height: 342px;
    width: 320px;
    margin-top: -932px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-8 {
    margin-bottom: 0;
    min-height: 371px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 30px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 460px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 153px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  margin: 15px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 153px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 15px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 153px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 15px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 153px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 15px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 555px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-image-1 {
    height: 119px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: 15px 1px -7px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-image-2 {
    height: 119px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin: 15px 1px -7px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-image-3 {
    height: 119px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin: 15px 1px -7px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    height: 119px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin: 15px 1px -7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 931px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 204px;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 204px;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 204px;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 204px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1458px;
  }

  .u-section-5 .u-image-1 {
    height: 121px;
  }

  .u-section-5 .u-image-2 {
    height: 121px;
  }

  .u-section-5 .u-image-3 {
    height: 121px;
  }

  .u-section-5 .u-image-4 {
    height: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1384px;
    grid-gap: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 81px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 81px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 81px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 81px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 244px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 33px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 33px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }
}