 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/60642161-0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 614px 273px 39px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 504px;
    margin-right: 232px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 494px;
    margin-right: 150px;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 472px;
    margin-right: 50px;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 405px 0 50px 179px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 808px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 808px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-14 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 870px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    line-height: 1.2;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1022px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-4 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-5 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-7 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-9 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-11 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-13 {
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1178px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    line-height: 1.4;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1714px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1714px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
  }
}