 .u-section-1 {
  background-image: url("images/business-team-5.jpg");
  background-position: 50% 50%;
  min-height: 508px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    line-height: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 278px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1196px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 10px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.4;
  margin: 5px 0 0 10px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.4;
  margin: 5px 0 0 10px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-14 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-16 {
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-17 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-18 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-20 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 10px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 986px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.125rem;
    line-height: 1.4;
  }

  .u-section-2 .u-text-3 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-4 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-5 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-7 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-10 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-13 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-15 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-19 {
    line-height: 1.4;
  }

  .u-section-2 .u-text-21 {
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-12 {
    margin-right: 4px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 4px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2264px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-12 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.125rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-22 {
    width: auto;
  }
}